body {
    font-size: 12px;
    /*Размер шрифта*/
    color: #000000;
    /*Цвет текста в 16-системе 000000 - черный ffffff - белый между ними вся радуга*/
    color: black;
    /*Цвет текста буквами, ограничено английским словом*/
    color: rgb(0, 0, 0);
    /*Цвет текста через rgb или red green blue - сочетание 3-цветов для получения других 255,255,255 - белый 0, 0, 0 - черный*/
    font-family: "Courier New", Courier, monospace;
    /*Семейство шрифтов, выбираются по доступности, сначала Первый, если нет, то второй, и так далее, пока не будет указан шрифт по умолчанию, который с засечками*/
    text-decoration: underline;
    /*Украшание текста, допустим почеркнуть что-то или зачерккуть*/
    text-transform: capitalize;
    /*Преобразование буков в словах, htmlbook.ru для больших свойств*/
    line-height: 21px;
    /*Высота строки*/
    display: block;
    /*Отображение элемента*/
    position: relative;
    /*Поведение элемента в потоке*/
    text-align: center;
    /*Центрирование только текста в блоке по горизонтали*/
    vertical-align: middle;
    /*Центрирование только текста в блоке по вертикали*/
    background-color: #000;
    /*Цвет фона*/
    border: 1px solid black;
    /*Цвет границы какого-либо элемента, сначала ширина границы, потом отображение, потом цвет границы */
}


.img1 {
    display: block;
}

.example {
    /* Пример объявления правила CSS к классу для работы с ним */
}